.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared sytle */
.text-center{
    text-align: center;
}
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
    
}
.dark-2{
    color: #474747;
}
.btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 35px;
  border-radius: 5px;
  border: none;
   
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    /* margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;  */
}
.section-text{
    font-size: 18px;
    color: #757575;
    /* max-width: 600px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;  */
}

/* header styes */
.header{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
    padding: 20px 0; */
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav Styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    /* font-family: "Open Sans", sans-serif; */
    font-weight: 800;
    font-size: 45px;
    /* color: black; */
    
    
    
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav ul li{
    list-style: none;
    margin-right: 50px;
    
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner-style */
.banner{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin: 0 35px 0 200px;
}  
.banner-content{
    max-width: 580px;
    /* margin-top: 50px; */
} 
.banner-greetings{
    font-size: 45px;
    color: #474747;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    
    font-weight: bold;
}
/* .banner-text{
    font-size: 18px;
    color: #474747;
    max-width: 600px;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto; 
    
} */
.banner-pic{
    width: 580px;
   
    /* border-radius: 50%; */
    /* margin-top: 50px;
    margin-right: 200px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 130px 0;
    margin-bottom: 130px;
}   
/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */

    
}
.about-items{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    
}
.item-text{
    font-weight: 600;
}
.item-title{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
